<app-admin-navbar>
  <div class="mb-4 text-center">
    <div class="card shadow-sm mt-3">
      <div class="card-header text-center" style="background-color: #d5dbdb">
        <h4 class="mt-2">Administración de Cursos</h4>
      </div>
      <div class="card-body">
        <div class="row text-right">
          <div class="col">
            <button class="btn btn-ciber-v" (click)="registrarFormulario()">
              <i class="fa-solid fa-plus"></i> Registrar Nuevo
            </button>
          </div>
        </div>
        <div class="row text-left ml-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="text"
              (keyup)="filtrar($event)"
              [(ngModel)]="palabrasClaves"
              placeholder="Buscar"
            />
            <button
              matSuffix
              style="text-decoration: none; background: none; border: none"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </mat-form-field>
        </div>
        <div class="row mt-2">
          <div class="col">
            <table
              mat-table
              [dataSource]="dataSource"
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Codigo</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.codigo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="curso">
                <th mat-header-cell *matHeaderCellDef>Curso</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.nombre }}
                </td>
              </ng-container>
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.descripcion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="instructor">
                <th mat-header-cell *matHeaderCellDef>Instructor</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.nombreInstructor }}
                </td>
              </ng-container>

              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-corhuila-delete btn-sm mr-2"
                    (click)="eliminarCurso(element)"
                    title="Borrar"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-editar btn-sm"
                    (click)="editarCurso(element)"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-admin-navbar>
